<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Blog Page</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





<style type="text/css">
.btn1 {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
</style>
</head>
<body data-ng-app="blogapp">
	
	<div class="container">
	<div>

	<form role="form" class="form-horizontal" action="" data-ng-submit="submit()" data-ng-controller="blogctrl">
	 <h2> View Blogs</h2></div>

	</form> 
	</div> 
	<div class="container" style="padding-top:10px">
	<div class="row">
        <div class="col-md-4 col-md-offset-3">
         <form action="" class="search-form">
                <div class="form-group has-feedback">
	<input type="text" data-ng-model="search" placeholder="search blog"  class="form-control">
	 <span class="glyphicon glyphicon-search form-control-feedback"></span>
	 </div>
	 </form>
	</div></div></div> 
<div data-ng-init="getAllBlogs()">
	 <div data-ng-repeat="blog in blogs | filter:search">
Blog userid ={{blog.userid}}
Current userid={{globals.currentUser.uid}}
	
	<div class="container">
	<div class="row">
 <div class="span3">
        	<div class="well">
        		<h2 class="text-info">{{blog.title}}</h2>  
        		<hr>        
        		<p>{{blog.content}}</p>
        		<hr>
              <p><button data-ng-show="blog.userid==globals.currentUser.username" data-ng-click="editblog(blog.id,blog.title,blog.content)" class="btn btn-success">Edit</button>
		<button data-ng-show="blog.userid==globals.currentUser.username" data-ng-click="deleteblog(blog.id)" class="btn btn-primary btn-danger">Delete</button>
		
		<button align="right" class="btn btn-primary"  data-ng-show="globals.currentUser.islogged" data-ng-click="like(blog.id)">Like this Blog</button>
		
         <div data-ng-init="getBlogUserLike(globals.currentUser.uid, blog.id)"></div>
		
		<!-- <div data-ng-repeat ="blogl in blogLikes">
		Blog Like User id = {{blogl.userid}}
		Global user id ={{globals.currentUser.uid}}
		Blog Like Blog id = {{blogl.blogid}}
		Blog id ={{blog.id}}
		{{(blog.userid ==globals.currentUser.uid )&&(blogl.userid == globals.currentUser.uid)}}
		<div data-ng-if ="(blog.userid ==blogl.userid )&&(blogl.userid != globals.currentUser.uid)">
	
		<button align="right" class="btn btn-primary"  data-ng-show="globals.currentUser.islogged" data-ng-click="like(blog.id)">Like this Blog</button>

		</div> 
		<div data-ng-else>
		Hello
		</div>
		
		
		</div>
 -->	
		<i class="fa fa-thumbs-up"></i>{{blog.bloglike}}
		<!-- <div data-ng-repeat ="blogl in blogLikes">
		<p>{{blogl.userid}}</p>
		<p>{{blog.userid}}</p>
		</div> -->
		
		</p>
	        	</div>
        </div></div></div>
	
	</div> 
	</div>
	</div>
	
		
</body>
</html>